{% extends "commons_base.html" %}
{% load staticfiles i18n %}

{% block head_title %}{% trans "EarMaster logs" %}{% endblock head_title %}

{% block body %}

<h1>{% trans "Import EarMaster logs and record them in a LRS as an xAPI statements" %}</h1>

{% if keys and rows %}
	<h4 style="text-align:center;">{% trans "Log just imported" %}</h4>
	<table class="table table-bordered table-striped">
		<thead>{% for key in keys %}<th style="text-align:center; font-size:small;">{{ key }}</th>{% endfor %}</thead>
		<tbody>
		{% for row in rows %}
			<tr>{% for value in row %}<td style="text-align:center; font-size:small;">{{ value }}</td>{% endfor %}</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

	<h4 style="text-align:center;">{% trans "Import new log" %}</h4>

    <section>

	<form method="post" enctype="multipart/form-data" action="" class="form-horizontal">{% csrf_token %}

    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <fieldset class="padding1020">
    {% if form.errors %}
      {% if form.non_field_errors %}
      <div class="txt-error demiBold" style="margin-left:-20px">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
   	{% endif %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.name }}" {% if field.field.required %}class="required"{% endif %}>{{ field.label|capfirst}}</label>
        <span class="txt-error">{{ field.errors }}</span>{{ field }}
        {% if field.help_text %}<small id="{{ field.name }}helpBlock" class="help-block">{{ field.help_text }}</small>{% endif %}
      </div>
    {% endfor %}

	<input type="submit" name="import" value="{% trans "Import and send" %} &raquo;" />
	</form>

    </section>

{% endblock %}
